.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 31rem;
  padding: 1rem;
  margin: 0 auto;
}

#donation-image {
  padding-top: 1rem;
  width: 100%;
  max-width: 25rem;

  animation: upDown 3s infinite alternate;
}


ion-item:hover{
  animation: scale 2s infinite;
  cursor:pointer;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
