<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="tab-title">
      Ask Donation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container animate__animated animate__zoomInDown">
    <img src="../../assets/images/people.png" id="peopleImage" alt="">
    <p>
      Do you need any specific donation? Fill out the form below and talk to a volunteer who will help you.🥰
    </p>

    <form [formGroup]="form" (submit)="save()" >
      <ion-item>
        <ion-label position="floating">
          Name
        </ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          Donation type
        </ion-label>
        <ion-input type="text" formControlName="type"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          Address
        </ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>
      <ion-button [disabled]="form.invalid || form.pending" expand="block" type="submit">
        Contact volunteer&nbsp;<ion-icon name="logo-whatsapp"></ion-icon>
      </ion-button>
    </form>

  </div>
</ion-content>
